{% extends 'basic.html' %}
{% block body %}
<div class="container mt-5">
<div class="row">
<div class="col-sm-8 offset-2">
<h1 class="alert-danger text-center p-3"> Update Candidate </h1>
<form action="" method="post" enctype="multipart/form-data" class="shadow p-3">
{% csrf_token %}
{% for f in fm %}
<div class="form-group mb-3">
{{f.label_tag}} {{f}} <small class="danger"> {{f.errors|striptags}} </small>
</div>
{% endfor %}

<input type="submit" value="Update" class="btn btn-primary">
{% if fm.non_field_errors %}
{% for error in fm.non_field_errors %}
<p class="alert alert-danger my-3">{{error}}</p>
{% endfor %}
{% endif %}
</form>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>    
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
{% endblock body %}